#nav{
    background-color:#f4f4f4;
    height: 150px;
    width: 100%;
    text-align: center;
    padding: 10px;
    border: 1px dotted rgb(244, 244, 244);
    
}
h1{
    color: black;
    text-align: center;
}
h4{
    text-align: center;
    color: rgb(12,9,5);
}
button {
	text-align: center;
}