#nav {
	height:30px;
	width: 60%;
	position: relative;
	top: 16px;
}
.pic {
	height: 30px;
}
button {
	position: relative;
	top: 10px;
}
body table {
	background-color: black;
	color: #9b9b9b;
	margin: auto;
	padding: 30px;
}
body table tr td {
	padding-left: 60px;
}
.col-left {
	position: relative;
	bottom: 28px;
	padding-right: 150px;
}
.col-right {
	position: relative;
	bottom: 19px;
}
button {
	background-color: #00bcd4;
}
.rectangle {
	width: 30%;
	background-color: #7986CB;
	text-align: center;
	font-size: 30px;
	padding: 15px;
	color: white;
}